/* navbar start */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  /* .active {
    background-color: #04AA6D;
  } */

/* navbar end */

/* ................................................. */
/* ................................................. */

/* signup start */

.form {
  margin-top: 50px;
  border: 2px solid whitesmoke;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
  width: 50%;
  padding: 10px;
  margin-left: 25%;
  text-align: center;
}

.form-control {
  width: 40%;
  height: 35px;
  margin-bottom: 25px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  outline: #eeeaea  5px;
}

.errorlist {
  font-size: 20px;
  color: red;
  background: whitesmoke;
}

.errorlist li{
  float:none;
  margin-bottom: 5px;
}

/* signup end */


/* ................................................. */
/* ................................................. */


/* button start */

button {
  font-size: 25px;
  padding: 8px;
  border-radius: 8px;
  border-color: #2415af;
  color: #2415af;
}

button:hover {
  background-color: #4738cf;
  color: white;
}

/* button end */


/* ................................................. */
/* ................................................. */


/* messages start */

.messages {
  background: whitesmoke;
  font-size: 30px;
}

.messages li{
  float:none;
  margin-bottom: 5px;
}

.info {
  color: rgb(236, 62, 62);
}

.success {
  color: rgb(50, 177, 50);
}

.warning {
  color: rgb(236, 38, 38);
}

/* messages end */


/* ................................................. */
/* ................................................. */


/* channel start */

.channel {
  width: 50%;
  padding: 5px;
  text-align: center;
  margin-left: 25%;
  margin-bottom: 5px;
}

/* channel end */



/* ................................................. */
/* ................................................. */

/* video start */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}

.grid-container a {
  background-color: rgba(255, 255, 255, 0.8);
  width: 355px;
  height: 350px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin-bottom: 30px;
  text-decoration: none;
}

.channel {
  height: 102px;
  margin: 0px;
  width: 98%;
}

.channel .channel-icon {
  height: 100%;
  float: left;
}

.channel .channel-icon img{
  height: 40px;
  border-radius: 50%;
}

.channel .video-info h3, h4{
  margin: 0px 0px 2px 0px;
}


/* video end */



/* ................................................. */
/* ................................................. */



