{% extends 'base.html' %}

{% load static %}

{% block title %} Youtube {% endblock title %}




{% block main_content %}

<!-- --------------------main---------------- -->

<div class="content">
    <!-- <div class="banner">
        <img src="{% static 'images/banner2.jpg' %}" alt="banner2.jpg">
    </div> -->

    <!-- ------------------------ video------------------------ -->
    <div id="result"></div>


    <div class="list_content">

        {% for video in videos %}
            {% if video.file.url %}
                <div class="vid_list">
                    <a href=""><img src="{% static 'images/thumbnail5.png' %}" alt="" class="thumbnail"></a>
                    <div class="flex-div">
                        <img src="{{ video.playlisttitle.channel.channelLogo.url }}" alt="{{video.playlisttitle.channel.channelLogo}}">
                        <div class="vid-info">
                            <a href="">{{ video.contenttitle|truncatewords:20}}</a>
                            <p><b>{{video.playlisttitle.channel}}</b></p>
                            <p>15k Views &bull; {{ video.uploaded|timesince }} ago</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        
        {% endfor %}
        
    </div>
</div>

{% endblock main_content %}