{% extends 'base.html' %}

{% load static %}

{% block title %} {{ video_stream.contenttitle }} {% endblock title %}



{% block main_content %}

<div class="content play-content">

    <div class="row">
        <div class="play-video">
            <video controls autoplay>
                <source src="{{ video_stream.file.url }}" type="video/mp4">
                <source src="{{ video_stream.file.url }}" type="video/ogg">
            </video>

            <div class="tags">
                <a href="">#Coading </a><a href="">#html </a><a href="">#css </a> <a href="">#durgesh </a>
            </div>
            <h3> {{ video_stream.contenttitle }} </h3>


            <div class="channel-info">
                
                {{ video_stream.pk|json_script:"video-unique-id" }}
                <ul>
                    <li><img src="{{ video_stream.playlisttitle.channel.channelLogo.url }}" alt="{{ video_stream.playlisttitle.channel.channelLogo }}"></li>
                    <li>
                        <a id="channel-name" href="{% url 'channel-details' video_stream.playlisttitle.channel.slug %}"> <b>{{ video_stream.playlisttitle.channel.name }}</b> </a>
                        <h5 id="subscriber"> {{ video_stream.playlisttitle.channel.totalSubscriber }} subscribers </h5>
                    </li>
                    <li style="float:right"><button type="submit" class="button-config"><img src="{% static 'images/save.png' %}" alt="Save"></button></li>
                    <li style="float:right"><button onclick="getVideoUrl()" class="button-config"><img src="{% static 'images/share.png' %}" alt="Share"></button></li>
                    <li> <button type="submit" class="button-config">Subscribe</button> </li>
                    <li style="float:right"><button type="submit" class="button-config"><img src="{% static 'images/dislike.png' %}" alt="Dislike"></button></li>
                    <li style="float:right"><button type="submit" class="button-config"><img src="{% static 'images/like.png' %}" alt="Like"></button></li>
                    
                  </ul>
            </div>
        </div>

        <div class="right-sidebar">

            {% for video_source in videos %}
                {% if video_source.file %}
                    <div class="side_video_list">
                        <a href="{% url 'play-video' video_source.pk %}" class="small-thumbnail"><img src="{% static 'images/thumbnail1.png' %}" alt=""></a>
                        <div class="vid-info">
                            <a href=""><h2>{{ video_source.contenttitle }}</h2></a>
                                <h3>{{ video_source.playlisttitle.channel.name }}</h3>
                                <p>413k Views, {{ video_source.uploaded|timesince }} </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- ----------comment section -------------------- -->

    </div>
</div>

{% endblock main_content %}