{% extends 'base.html' %}

{% load static %}

{% block title %} Watch Later Videos {% endblock title %}




{% block main_content %}

<!-- For Sidebar -->
{% include "sidebar.html" %}


<div class="content">
    <div class="content play-content">
        
        <div class="history">

            <div class="history-left-sidebar">

                {% for video_source in videos %}
                    {% if video_source.file %}
                        <div class="side_video_list">
                            <a href="{% url 'play-video' video_source.pk %}" class="small-thumbnail"><img
                                    src="{% static 'images/thumbnail1.png' %}" alt=""></a>
                            <div class="vid-info">
                                <a href="">
                                    <h2>{{ video_source.contenttitle }}</h2>
                                </a>
                                <h3>{{ video_source.playlisttitle.channel.name }}</h3>
                                <p>413k Views, {{ video_source.uploaded|timesince }} </p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
    
            <div class="history-right-sidebar">
        
                <a href="{% url 'remove-libary-video-list' %}">&#8226; Remove All Watch Later</a> <br>
            
            
                <a href="">&#8226; Link?</a> 
            
            </div>

        </div>

    </div>

</div>

{% endblock main_content %}